<div class="centered">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Deadline</th>
            <th>UserId</th>
            <th>IsCompleted</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>{{task.deadline}}</td>
            <td>{{task.userId}}</td>
            <td>{{task.isCompleted}}</td>
          </tr>
        </tbody>
      </table>
</div>