<div class="wrapper">
  <div class="row mt-5 p-5">
    <div class="col-12 left">
      <div class="btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addEditModal">Add Task</div>
    </div>
    <div class="tbl-style">
      <app-table [tasks]= tasks (open)="openModal($event)" (delete)="deleteTask($event)"></app-table>
    </div>
  </div>
</div>
<div class="modal fade" id="addEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Astract Task</h5>
        <span type="button" class="btn-close" data-bs-dismiss="modal" (click)="clearForm()" aria-label="Close"></span>
      </div>
      <div class="modal-body">
        <form #myForm="ngForm" [formGroup]="form" (ngSubmit)="submit()" >

          <div class="form-group">
            <input type="text" formControlName="title" placeholder="Title" class="form-control" />
          </div>
          <div class="form-group">
            <input type="text" formControlName="description" placeholder="Description" class="form-control" />
          </div>
          <div class="form-group">
            <input type="datetime-local" id="start" formControlName="deadLine" placeholder="Deadline" class="form-control">
          </div>
          <div class="form-group">
            <label class="mb-2">Select Category</label>
            <select formControlName="taskCategoryId" class="form-select form-select-lg" placeholder="Select Category">
              <option *ngFor="let category of categories" value="{{category['id']}}">{{category['name']}}</option>
            </select>
          </div>
          <input type="hidden" formControlName="userId">
          <div class="form-group">
            <label class="mt-2 mb-2">Select Status</label>
            <select formControlName="isCompleted" class="form-select form-select-lg" placeholder="Select Status">
              <option value=true>Yes</option>
              <option value=false>No</option>
            </select>
          </div>
          <button class="btn-primary" type="submit" *ngIf="!editMode" [disabled]="form.invalid">Save</button>
          <button class="btn-primary" type="submit" *ngIf="editMode" [disabled]="form.invalid">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>