<div class="container">
    <div class="centered">
        <form class="row mt-5" [formGroup]="registerForm" (ngSubmit)="RegisterForm()">
            <div class="brand col-12">
                Astract
            </div>
            <div class="col-12 mb-2">
                <input type="text" class="form-control" formControlName="firstname" placeholder="FirstName">
              </div>
              <div class="col-12 mb-2">
                <input type="text" class="form-control" formControlName="lastname" placeholder="LastName">
              </div>
            <div class="col-12 mb-2">
              <input type="text" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <div class="col-12 mb-2">
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
              </div>
              <div class="col-12 mb-5">
                <button class="btn btn-primary  w-100" [disabled]="registerForm.invalid">Register</button>
              </div>
              <div class="link col-12 mb-5">
                <span>Have an account?</span><span routerLink="/login">Sign In</span>
              </div>
          
        </form>
    </div>
</div>   